// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// Transform mixin
@mixin transform($prop) {
  --webkit-transform: $prop;
  -ms-transform: $prop;
  transform: $prop;
}
