{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
{{ super() }}
<h1>Hello {{ name }}, you are on the home page!</h1>

<h1>Database Results!</h1>
{% for item in results %}
    <h2>ID: {{ item.id }} Name: {{ item.name }} Location: {{ item.location }}</h2>
{% endfor %}

{% if display %}
    <h2>This is being displayed!</h2>
{% else %}
    <h2>This is not being displayed!</h2>
{% endif %}

{% for x in mylist %}
    <h3>{{ x }}</h3>
{% endfor %}

{% if 'name' and 'location' in mydict %}
    <h3>{{ mydict.name }} -> {{ mydict.location }}</h3>
{% endif %}

<img src="{{ url_for('static', filename='img/fedora_kde_plasma.png') }}"
    width="1200" height="700" />
{% include "include_this.html" %}
{% endblock %}